{% extends 'cms/cms_base.html' %}
{% from 'common/_macros.html' import static %}

{%  block title %}
    change password
{% endblock %}

{% block page_title %}
    {{ self.title() }}
{% endblock %}
{% block head %}
    <style>
        .form-container{
            width:300px;
        }
    </style>
    <script src="{{ static("cms/js/resetpwd.js") }}"></script>
{%  endblock %}
{% block main_content %}
    <form action="" method="post"></form>
        <div class="form-container">
            <div class="'form-group">
                <div class="input-group">
                    <span class="input-group-addon">old password</span>
                    <input type="password" class="form-control" name="oldpwd">
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">new password</span>
                    <input type="password" class="form-control" name="newpwd">
                </div>
            </div>
             <div class="form-group">
                 <div class="input-group">
                    <span class="input-group-addon">confirmnew password</span>
                    <input type="password" class="form-control" name="newpwd2">
                </div>
             </div>
            <div class="form-group">
                <button class="btn btn-primary">
                    reset
                </button>
            </div>
        </div>
    </form>

{% endblock %}